<!-- Header -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" >Starikova1120</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Домашняя страница</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="list" routerLinkActive="active">Список товаров</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add" routerLinkActive="active">Добавить товар</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br>

<!-- Router -->

<router-outlet></router-outlet>